.css-1v3fvcr {
    background-image: url(https://i.ibb.co/LnK0HXd/lloyd-dirks-4-SLz-RCk6k-Q-unsplash.jpg);
}


.css-10trblm.e16nr0p33 {
    text-align: left;
    font-style: italic;
    color: whitesmoke;
}

.css-1hi1a44.e10mrw3y0 {
    background-color: #b8d7fc;
}

.stSlider {
    border: 1px solid #f5f5f5;
    color: whitesmoke;
    background-color: #a7f2b2;
    border-radius: 2px;
    padding-left: 2%;
    padding-right: 2%;
}

.css-1dx1gwv.e88czh82 {
    padding-left: 1%;
    padding-right: 1%;
    color: black;
}


.css-1n76uvr.e1tzin5v4 {
    padding-left: 40%;

}

.css-10trblm.e16nr0p33 {
    font-size: smaller;
    color: whitesmoke;
}



.row-widget.stSelectbox {
    background-color: #a7f2b2;
    border-radius: 2px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    color: black;
}

.css-1dx1gwv.e88czh81 {
    color: black;
}

.css-10trblm.e16nr0p30 {
    color: white;
    font-style: oblique;
    font-variant: small-caps;
}